.skin-blue .main-header .navbar {
    background-color: #52caff !important;
    background-image: linear-gradient(to right, #d5c8cf, #52caff);
}

.skin-blue .main-header .logo {
    background-color: #52caff;
}

.btn-primary {
    background-color: #52caff;
    border-color: #52CAF3;
    border: none;
    border-radius: 30px !important;
    padding: 8px 20px;
    background-image: linear-gradient(to right, #d5c8cf, #52caff);
    transition: .3s all ease;
}

.box.box-primary {
    border-top-color: #52caff;
    border-radius: 5px;
    box-shadow: 0px 5px 6px 0px #0002;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    border-right-color: #52caff !important;
    background: #52caff;
    background-image: linear-gradient(to right, #d5c8cf, #52caff);
}